- For info on how to make HTTP requests, see https://www.datacamp.com/community/tutorials/making-http-requests-in-python

# Requesting the CSV and JSON data

In [1]:
import requests
import json
from datetime import datetime

In [2]:
#urls where the data is stored
url_csv = 'https://corgis-edu.github.io/corgis/datasets/csv/airlines/airlines.csv'
url_json = 'https://corgis-edu.github.io/corgis/datasets/json/airlines/airlines.json'

#filenames for the files we will create (save into a specific directory)
filename_csv = 'airlines.csv'
filename_json = 'airlines.json'

In [3]:
#part of the code in this cell was taken (and parts were edited) from https://www.datacamp.com/community/tutorials/making-http-requests-in-python

def requestData(url, filename):
    
    #request the data from a url - this gives us a response from the server
    response = requests.get(url)
    
    #include the CORGISdata folder into the filename, so the new files are placed inside that folder
    #filename_toSaveLocally = 'CORGISdata\\{}'.format(filename)    #relative path to save locally
    filename_toSaveOnline = r'I:\My Drive\Data\CORGISdata_online\{}'.format(filename)
    
    #create a file to save the content of the response
    with open(filename_toSaveOnline,'wb') as f:
        f.write(response.content)
    
    #print the following as a visual aid
    print('Requested URL: ' + url)
    print('Request status: ' + str(response.status_code))
    print('File saved at: ' + filename_toSaveOnline + '\n')
    print('HEADERS: ' + str(response.headers))
    print('-----------------------------END OF REQUEST--------------------------\n\n')
    
    #return the response content if we want to work with it from memory (optional)
    return response.content

In [4]:
#save the response content into each variable
req_csv = requestData(url_csv, filename_csv)
req_json = requestData(url_json, filename_json)

Requested URL: https://corgis-edu.github.io/corgis/datasets/csv/airlines/airlines.csv
Request status: 200
File saved at: I:\My Drive\Data\CORGISdata_online\airlines.csv

HEADERS: {'Connection': 'keep-alive', 'Content-Length': '262662', 'Server': 'GitHub.com', 'Content-Type': 'text/csv; charset=utf-8', 'permissions-policy': 'interest-cohort=()', 'Last-Modified': 'Tue, 25 Jan 2022 20:56:54 GMT', 'Access-Control-Allow-Origin': '*', 'Strict-Transport-Security': 'max-age=31556952', 'ETag': 'W/"61f06416-1f4e94"', 'expires': 'Sun, 10 Apr 2022 19:00:42 GMT', 'Cache-Control': 'max-age=600', 'Content-Encoding': 'gzip', 'x-proxy-cache': 'MISS', 'X-GitHub-Request-Id': '283C:638C:24862D:48690A:62532702', 'Accept-Ranges': 'bytes', 'Date': 'Sun, 10 Apr 2022 19:36:48 GMT', 'Via': '1.1 varnish', 'Age': '0', 'X-Served-By': 'cache-lon4260-LON', 'X-Cache': 'MISS', 'X-Cache-Hits': '0', 'X-Timer': 'S1649619408.279011,VS0,VE82', 'Vary': 'Accept-Encoding', 'X-Fastly-Request-ID': '547473b98450c59ad65d4eace3f7d102e523cdd3'}
-----------------------------END OF REQUEST--------------------------


Requested URL: https://corgis-edu.github.io/corgis/datasets/json/airlines/airlines.json
Request status: 200
File saved at: I:\My Drive\Data\CORGISdata_online\airlines.json

HEADERS: {'Connection': 'keep-alive', 'Content-Length': '435026', 'Server': 'GitHub.com', 'Content-Type': 'application/json; charset=utf-8', 'permissions-policy': 'interest-cohort=()', 'Last-Modified': 'Tue, 25 Jan 2022 20:56:54 GMT', 'Access-Control-Allow-Origin': '*', 'Strict-Transport-Security': 'max-age=31556952', 'ETag': 'W/"61f06416-4bc15d"', 'expires': 'Sun, 10 Apr 2022 19:00:43 GMT', 'Cache-Control': 'max-age=600', 'Content-Encoding': 'gzip', 'x-proxy-cache': 'MISS', 'X-GitHub-Request-Id': 'C1FA:6380:27CD9BB:28E8988:62532703', 'Accept-Ranges': 'bytes', 'Date': 'Sun, 10 Apr 2022 19:36:48 GMT', 'Via': '1.1 varnish', 'Age': '0', 'X-Served-By': 'cache-lon4276-LON', 'X-Cache': 'MISS', 'X-Cache-Hits': '0', 'X-Timer': 'S1649619409.554673,VS0,VE113', 'Vary': 'Accept-Encoding', 'X-Fastly-Request-ID': 'f22e27086a449f8b8bc404581921703e77be2989'}
-----------------------------END OF REQUEST--------------------------

# Scenario: the API/web service/website that is giving us the data will only send it in JSON format

## Processing the JSON response - Working from memory

In [5]:
#decode the json response content, turning it into a string
string_json=req_json.decode('UTF-8')

print(string_json[0:900])

[
  {
    "Airport": {
      "Code": "ATL",
      "Name": "Atlanta, GA: Hartsfield-Jackson Atlanta International"
    },
    "Time": {
      "Label": "2003/06",
      "Month": 6,
      "Month Name": "June",
      "Year": 2003
    },
    "Statistics": {
      "# of Delays": {
        "Carrier": 1009,
        "Late Aircraft": 1275,
        "National Aviation System": 3217,
        "Security": 17,
        "Weather": 328
      },
      "Carriers": {
        "Names": "American Airlines Inc.,JetBlue Airways,Continental Air Lines Inc.,Delta Air Lines Inc.,Atlantic Southeast Airlines,AirTran Airways Corporation,America West Airlines Inc.,Northwest Airlines Inc.,ExpressJet Airlines Inc.,United Air Lines Inc.,US Airways Inc.",
        "Total": 11
      },
      "Flights": {
        "Cancelled": 216,
        "Delayed": 5843,
        "Diverted": 27,
        "On Time": 23974,
        "Total": 30060

In [6]:
#load the string into a dictionary
parsed_dict_json = json.loads(string_json)

print("JSON length (in objects): " + str(len(parsed_dict_json)))

JSON length (in objects): 4408

In [7]:
parsed_dict_json[0]

{'Airport': {'Code': 'ATL',
  'Name': 'Atlanta, GA: Hartsfield-Jackson Atlanta International'},
 'Statistics': {'# of Delays': {'Carrier': 1009,
   'Late Aircraft': 1275,
   'National Aviation System': 3217,
   'Security': 17,
   'Weather': 328},
  'Carriers': {'Names': 'American Airlines Inc.,JetBlue Airways,Continental Air Lines Inc.,Delta Air Lines Inc.,Atlantic Southeast Airlines,AirTran Airways Corporation,America West Airlines Inc.,Northwest Airlines Inc.,ExpressJet Airlines Inc.,United Air Lines Inc.,US Airways Inc.',
   'Total': 11},
  'Flights': {'Cancelled': 216,
   'Delayed': 5843,
   'Diverted': 27,
   'On Time': 23974,
   'Total': 30060},
  'Minutes Delayed': {'Carrier': 61606,
   'Late Aircraft': 68335,
   'National Aviation System': 118831,
   'Security': 518,
   'Total': 268764,
   'Weather': 19474}},
 'Time': {'Label': '2003/06', 'Month': 6, 'Month Name': 'June', 'Year': 2003}}

In [8]:
#print the first json object, adding indentation (gets printed as a string) - from https://stackoverflow.com/questions/12943819/how-to-prettyprint-a-json-file
print(json.dumps(parsed_dict_json[0], indent=4, sort_keys=True))

{
    "Airport": {
        "Code": "ATL",
        "Name": "Atlanta, GA: Hartsfield-Jackson Atlanta International"
    },
    "Statistics": {
        "# of Delays": {
            "Carrier": 1009,
            "Late Aircraft": 1275,
            "National Aviation System": 3217,
            "Security": 17,
            "Weather": 328
        },
        "Carriers": {
            "Names": "American Airlines Inc.,JetBlue Airways,Continental Air Lines Inc.,Delta Air Lines Inc.,Atlantic Southeast Airlines,AirTran Airways Corporation,America West Airlines Inc.,Northwest Airlines Inc.,ExpressJet Airlines Inc.,United Air Lines Inc.,US Airways Inc.",
            "Total": 11
        },
        "Flights": {
            "Cancelled": 216,
            "Delayed": 5843,
            "Diverted": 27,
            "On Time": 23974,
            "Total": 30060
        },
        "Minutes Delayed": {
            "Carrier": 61606,
            "Late Aircraft": 68335,
            "National Aviation System": 118831,
            "Security": 518,
            "Total": 268764,
            "Weather": 19474
        }
    },
    "Time": {
        "Label": "2003/06",
        "Month": 6,
        "Month Name": "June",
        "Year": 2003
    }
}

In [9]:
#see the names of the 10 first airports on the dataset
c=0

for i in parsed_dict_json: 
    c = c + 1
    if c > 10:
        break
    print(i['Airport'])

{'Code': 'ATL', 'Name': 'Atlanta, GA: Hartsfield-Jackson Atlanta International'}
{'Code': 'BOS', 'Name': 'Boston, MA: Logan International'}
{'Code': 'BWI', 'Name': 'Baltimore, MD: Baltimore/Washington International Thurgood Marshall'}
{'Code': 'CLT', 'Name': 'Charlotte, NC: Charlotte Douglas International'}
{'Code': 'DCA', 'Name': 'Washington, DC: Ronald Reagan Washington National'}
{'Code': 'DEN', 'Name': 'Denver, CO: Denver International'}
{'Code': 'DFW', 'Name': 'Dallas/Fort Worth, TX: Dallas/Fort Worth International'}
{'Code': 'DTW', 'Name': 'Detroit, MI: Detroit Metro Wayne County'}
{'Code': 'EWR', 'Name': 'Newark, NJ: Newark Liberty International'}
{'Code': 'FLL', 'Name': 'Fort Lauderdale, FL: Fort Lauderdale-Hollywood International'}

In [10]:
name = []
code = []
month = []
year = []
cancelled_flights = []
delayed_flights = []
total_flights = []
carriers = []

for i in parsed_dict_json:
    name.append(i['Airport']['Name'])
    code.append(i['Airport']['Code'])
    month.append(i['Time']['Month'])
    year.append(i['Time']['Year'])
    cancelled_flights.append(i['Statistics']['Flights']['Cancelled'])
    delayed_flights.append(i['Statistics']['Flights']['Delayed'])
    total_flights.append(i['Statistics']['Flights']['Total'])
    carriers.append(i['Statistics']['Carriers']['Total'])
    
data_df = {'name':name, 'code': code, 'month':month, 'year':year,'cancelled_flights': cancelled_flights, \
          'delayed_flights':delayed_flights,'total_flights':total_flights, 'carriers':carriers}

import pandas as pd

df = pd.DataFrame.from_dict(data_df)

df.head()

,name,code,month,year,cancelled_flights,delayed_flights,total_flights,carriers
0,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",ATL,6,2003,216,5843,30060,11
1,"Boston, MA: Logan International",BOS,6,2003,138,1623,9639,14
2,"Baltimore, MD: Baltimore/Washington Internatio...",BWI,6,2003,29,1245,8287,11
3,"Charlotte, NC: Charlotte Douglas International",CLT,6,2003,73,1562,8670,11
4,"Washington, DC: Ronald Reagan Washington National",DCA,6,2003,74,1100,6513,13

In [11]:
now = datetime.now() 
date_time_string = '_' + now.strftime("%Y-%m-%d__%Hh-%Mm")

filepath = r'I:\My Drive\Data\CORGISdata_online\extractedAirportData{}.xlsx'

filepathDrive = filepath.format('')
filepathDrive_backup = filepath.format(date_time_string)

In [13]:
df.to_excel(filepathDrive, sheet_name = 'AirportData_Cleaned', index=False)
df.to_excel(filepathDrive_backup, sheet_name = 'AirportData_Cleaned', index=False)

print('Files saved at: \n' + filepathDrive + '\n' +     filepathDrive_backup)

Files saved at:
I:\My Drive\Data\CORGISdata_online\extractedAirportData.xlsx
I:\My Drive\Data\CORGISdata_online\extractedAirportData_2022-04-10__20h-36m.xlsx